.recipientWrapper {
  font-family: sans-serif;
  color: #000;
}

.recipientLabel {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 4px;
  display: block;
}

.recipientControl {
  display: flex;
  align-items: center;
  gap: 10px;
}

.recipientSub {
  font-weight: normal;
  font-size: 16px;
}

.recipientBox {
  border: 0.4px solid #000;
  border-radius: 10px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 14px;
  background-color: white;
  font-size: 16px;
  user-select: none;
}

.recipientValue {
  font-weight: normal;
  min-width: 20px;
  text-align: center;
}

.arrowBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000;
  padding: 0;
}

.arrowBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; /* Optional: Prevent hover/focus styles */
}
