@font-face {
    font-family: 'Stafford';
    src: url('/fonts/HandwritingFontFamilyStafford.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    margin: 0;
  }

  html {
    margin: 0;
    padding: 0;
  }